header {
    background-image: url(../assets/design1_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

body {
    /* Key: Value; */
    background-color: aquamarine; /* background is a property, yellow is a value */
    background-color: rgb(213, 157, 114);
    background-color: #faf7f7; /* en hex */
    font-family: 'Roboto', sans-serif;

}

p {
    font-size: 25px; /* px es pixels */
}

h1 {
    color: darkslategrey;
    font-size: 45px;
}

h3 {
    text-indent: 26%;
}

nav > ul > li {
    list-style-type: none;
    background-color: dodgerblue;
    padding: 2px 20px;
}

nav > ul > li:hover {   /* pseudoclase */
    cursor: pointer;
}

nav > ul > li:active {
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: #faf7f7;
}

.paragraph-green {  /* las clases llevan un punto */
    color: green;
}

.container {
    background-color: red;
    width: 60vw; /* viewport Width */
    height: 30vh;
    display: flex;
    justify-content:right;
}

.containerNumber {
    background-color: blueviolet;
}

.column {
    background-color: cornflowerblue;
    flex-direction: column;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo:last-child {
    justify-content: right;
}

li.opcion
{
   float:left;
   margin:0px 1px;
   border:1px solid black;
   /* border-bottom:4px black solid;
   border-right:4px black solid; */
   box-shadow: 5px 6px 7px -1px rgba(0,0,0,0.48);
   /*min-height: 100px; */
}

a.opcion
{
    /*position:absolute;*/
    display:block;
    padding:5px;
}

main > div {
    display: flex;
}

.image
{
    height: 50px;
    width: 50px;
}
