header {
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
}

body {
    /* Key: Value; */
    background-color: #ffffff; /* en hex */
    font-family: cursive;
}

body > p {
    font-family: cursive;
    font-style: italic;
    font-size: 60px;
    display: initial;
    font-weight: bold; 
}

nav > ul > li {
    list-style-type: none;
    background-color: #0e6dcb;
    padding: 0px 20px 0px 20px;;
}

#button {
    background-color:rgb(59, 171, 59);
}

nav > ul > li:hover {   /* pseudoclase */
    cursor: pointer;
}

nav > ul > li:active {
    background-color: aquamarine;
}

li > a {
    text-decoration: none;
    color: #faf7f7;
    font-size: 18px;
}

p > a {
    text-decoration: underline 2px black;
}

.container {
    position: relative;
    background-color: red;
    height: 30vh;
    display: flex;
    justify-content:right;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo:last-child {
    justify-content: right;
}

li.opcion
{
   float:left;
   margin:0px 6px;
   border:2px solid black;
   /* border-bottom:4px black solid;
   border-right:4px black solid; */
   box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.48);
   /*min-height: 100px; */
}

a.opcion
{
    /*position:absolute;*/
    display:block;
    padding:5px;
}

main > div {
    display: flex;
    align-content: space-around;
}

.dates {
    width: 600px;
    margin-left: 100px;
    font-size: 18px;
}

.about {
    width: 800px;
    margin-left: 100px;
    font-size: 18px;
}

.contact {
    width: 800px;
    margin-left: 100px;
    font-size: 10px;
}

.image
{
    height: 150px;
    /*object-fit: contain;*/
}

.caja {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    background: #ffffff;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    border: 2px solid #777777;
}

nav {
    position: absolute;
    top: -40px;
    width: 420px;
}

ul {
    display: flex;
    justify-content: space-around;
}

dt {
    font-weight: bold;
    font-size: 20px;
}

.cursive {
    font-style: italic;
}

.margin {
    margin:0px;
    text-indent: 20px;
    font-size: 17px;
}